// notification
$margin-top: 20px;
$margin-right: $margin-top;
$min-height: 55px;

.notification-wrapper {
  position: fixed;
  top: $margin-top;
  right: $margin-right;
  width: 300px;

  @keyframes Enter {
    0% {
      opacity: 0;
      margin-left: 50%;
    }

    100% {
      opacity: 1;
      margin-left: 0;
    }
  }

  .notification-item {
    @keyframes Exit {
      0% {
        opacity: 1;
        margin-top: 0;
      }

      50% {
        opacity: 0;
      }

      100% {
        opacity: 0;
        margin-top: -($min-height + $margin-top);
      }
    }

    box-shadow: 0 0 10px var(--shadowColor);
    min-height: $min-height;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: $margin-top;
    animation: Enter 0.3s;
    animation-fill-mode: forwards;
    width: 300px;
    display: flex;

    &.exit {
      animation: Exit 0.3s;
      animation-fill-mode: forwards;
      pointer-events: none;
    }

    .cooldown-wrapper {
      width: 30px;
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      .notification-icon {
        position: absolute;
        top: 5px;
        align-self: center;
      }

      .cooldown-bar {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .content-wrapper {
      margin: 0;
      padding: 10px;

      flex: 1;
      position: relative;

      .notification-close-icon {
        position: absolute;
        cursor: pointer;
        font-size: 17px;
        top: 5px;
        right: 7px;
      }
    }

    &.info {
      background-color: white;

      .cooldown-wrapper {
        background-color: rgb(38, 132, 255);
      }

      .content-wrapper {
        color: rgb(80, 95, 121);
      }
    }

    &.success {
      background-color: rgb(227, 252, 239);

      .cooldown-wrapper {
        background-color: rgb(54, 179, 126);
      }

      .content-wrapper {
        color: rgb(0, 102, 68);
      }
    }

    &.warning {
      background-color: rgb(255, 250, 230);

      .cooldown-wrapper {
        background-color: rgb(255, 171, 0);
      }

      .content-wrapper {
        color: rgb(255, 139, 0);
      }
    }

    &.error {
      background-color: rgb(255, 235, 230);

      .cooldown-wrapper {
        background-color: rgb(255, 86, 48);
      }

      .content-wrapper {
        color: rgb(191, 38, 0);
      }
    }
  }
}
